## Observations and Insights

## Dependencies and starter code

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
combined_study = pd.merge(mouse_metadata, study_results)
combined_study

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [44]:
#Pull specific columns from dataset
DR = combined_study["Drug Regimen"]
TV = combined_study["Tumor Volume (mm3)"]

new_df = ([DR], [TV])

df = pd.DataFrame(new_df, index = ["Drug Regimen", "Tumor Volume"])
df

                                                              0
Drug Regimen  0       Ramicane
1       Ramicane
2       Rami...
Tumor Volume  0       45.000000
1       38.825898
2       35...

## Summary statistics

In [26]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
Mean = combined_study["Tumor Volume (mm3)"].mean()
Median = combined_study["Tumor Volume (mm3)"].median()
Variance = combined_study["Tumor Volume (mm3)"].var()
Standard_Deviation = combined_study["Tumor Volume (mm3)"].std()
SEM = combined_study["Tumor Volume (mm3)"].sem()

data = ([Mean], [Median], [Variance], [Standard_Deviation], [SEM])
df = pd.DataFrame(data, index = ["Mean", "Median", "Variance", "Standard Deviation", "SEM"])
df

                            0
Mean                50.448381
Median              48.951474
Variance            79.116074
Standard Deviation   8.894722
SEM                  0.204436

## Bar plots

In [3]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [4]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [5]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [6]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [7]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [8]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [9]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [10]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [11]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen